.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cgen-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.cgen-box input {
  margin-right: 16px;
}

.codegen_master {
  padding: 32px;
}

.codegen_master > textarea {
  width: 100%;
  height: 350px;
  font-family: 'Courier New';
  margin-bottom: 32px;
}

.codegen_master > button {
  margin: 16px 0 32px 0;
}

.codegen_master > textarea.short {
  height: 150px;
}

div.codegentitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.codegentitle img {
  position: relative;
  top: 7px;
}